:root {
  --cf-dark: #212121;
  --cf-light: #ebebeb;
  --cf-darkblue: #00223d;
  --cf-highlight: #fae100;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("/img/LandingPage_576.png");
  background-position: top center;
  background-repeat: no-repeat;

  font-family: "Roboto", sans-serif;
  background-color: var(--cf-darkblue);
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* custom CSS */

#navbarLogo {
  height: 2em;
}

#titleText {
  font-family: "Racing Sans One", cursive;
  font-size: 2.5rem;
  line-height: 2rem;
}

#subtitleText {
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.03rem;
  line-height: 0.5rem;
}

.btn-primary {
  color: var(--cf-dark);
  background-color: var(--cf-highlight);
  border-color: var(--cf-highlight);
  transition: filter, 0.2s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  filter: brightness(0.9) !important;
  color: var(--cf-dark);
  background-color: var(--cf-highlight);
  border-color: var(--cf-highlight);
}

.nav-link {
  color: var(--cf-light) !important;
}

.nav-link:hover {
  color: var(--cf-highlight) !important;
}

/*** MEDIA QUERIES ***/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575.98px) {
  body {
    background-image: url("/img/LandingPage_768.png");
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 767.98px) {
  body {
    background-image: url("/img/LandingPage_992.png");
  }

  #titleText {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  #subtitleText {
    font-size: 1rem;
    letter-spacing: 0.03rem;
    line-height: 0.8rem;
  }
}

/* Medium Devices (tablets, 768px and up) in portrait mode */
@media (min-width: 767.98px) and (orientation: portrait) {
  body {
    background-image: url("/img/LandingPage_992.png");
  }

  #titleText {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  #subtitleText {
    font-size: 1rem;
    letter-spacing: 0.03rem;
    line-height: 0.8rem;
  }

  #mainText {
    align-items: flex-start !important;
    padding-top: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991.98px) {
  body {
    background-image: url("/img/LandingPage_1200.png");
  }

  #titleText {
    font-size: 3.5rem;
    line-height: 2.7rem;
  }

  #subtitleText {
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
  }

  #mainText {
    align-items: center !important;
    padding-top: 4rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1199.98px) {
  body {
    background-image: url("/img/LandingPage_1920.png");
    background-size: cover;
  }

  #titleText {
    font-size: 4rem;
    line-height: 3rem;
  }

  #subtitleText {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}
